body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
    display: flex;
    width: 100px;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.square {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 5px solid;
}

.square:hover {
    background-color: #090;
}